@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

/*Navbar Completo*/
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 20;
  }
  .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
  }
  
  .nav-menu li {
      float: left;
      width: 25%;
  }
  
  .nav-menu li a {
      display: block;
      color: #0e5c83;
      font-weight: bold;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      height: 3em;
      padding-top: 40px;
      
      
  }
  
  .nav-menu li a:hover {
      background-color: #053F62;
      color:white;
  }
  
  .logo{
      display:block;
      margin: 0px auto;
      height: 10em;
      z-index: 99;
      margin-top: -5em;
      filter:drop-shadow(5px 6px 5px rgba(0, 0, 0, 0.7));
  }
  
  
  /* TOGGLE */
  .nav-toggle {
      color: #053F62;
      background: none;
      border: 2px solid #053F62;
      font-size: 40px;
      padding: 10px 10px;
      line-height: 0px;
      cursor: pointer;
      display: none;
      top: 10px;
      margin-top: 30px;
      margin-left: 15px;
    }
    /* RESPONSIVE MOBILE NAVBAR*/
  @media (max-width: 940px) {
    
  
    .header {
      height: 60px;
      position: sticky;
    }
  
    .logo {
      height: 7em;
    margin-top: -4.4em;
    z-index: 99;
    }
  
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #053F62;
      position: fixed;
      top: 5em;
      width: 101%;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
      
    }

    .navbar ul{
      padding-top: 40px;
      z-index: 1;
    }
    
    .nav-menu li{
      width: 100%;
    }
    .nav-menu li a {

        color: white;
        width: 100%;
    height: 2em;
    padding: 0;
    display: inline-table;
        
    }

    .nav-menu li a:hover {
        background-color:#0e5c83;

        
    }
  
    .nav-menu-item {
      line-height: 70px;
    }
  
    .nav-menu-link:hover,
    .nav-menu-link_active {
      background: none;
      color: #83c5f7;
    }
  
    .nav-toggle {
      display: block;
    }
  
    .nav-menu_visible {
      left: 0;
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }
  


    /*COMIDAS*/

    .contenedor {
           margin: 24px 0;
           display: flex;
           justify-content: space-evenly;
       }
       
       .caja {
           width: 30%;
           padding: 1%;
           /* background-color: rgba(29, 28, 28, 0.803); */
           /* letter-spacing: 1px; */
           border-radius: 24px;
           box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.829);
       }
       
       .caja h2{
         font-size: 14px;
         font-family: 'Gloria Hallelujah', cursive; 
         filter:drop-shadow(5px 6px 5px rgb(0, 0, 0));
         
       }
       
       .caja h1{
           color: floralwhite;
           font-size: 18px;
          font-family: 'Gloria Hallelujah', cursive;
          filter:drop-shadow(5px 6px 5px rgb(0, 0, 0));
           
       }
       
       .caja p{
          font-size: 16px;
          filter:drop-shadow(1px 4px 3px rgb(0, 0, 0));
          font-family: 'Gloria Hallelujah', cursive;
          border-radius: 1rem;
       }
       
       .caja p a:hover{
           background-color: black;
           transition: 5s;
       }
       
       
       .caja1{
           color: floralwhite;
           /* font-size: 20px; */
           text-align: center;
           background-image: url(../img/comidas.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
           
       }
       
       
       
       
       .caja2{
         color: floralwhite;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         /* font-size: 20px; */
         text-align: center;
         font-weight: 30px;
         background-image: url(../img/comidas1.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         
       }
       
       
       .caja3{
           color: floralwhite;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
           /* font-size: 20px; */
           text-align: center;
           background-image: url(../img/desayunos.jpg);
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
         }
       
       
       .caja4{
           letter-spacing: 1px;
           color: floralwhite;
           font-size: 20px;
           text-align: center;
           background-image: url(../img/alcohol.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
       }
       
       
       .caja5{
           letter-spacing: 1px;
           color: floralwhite;
           font-size: 20px;
           text-align: center;
           background-image: url(../img/aseo.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
       }
       
       
       .caja6{
           letter-spacing: 1px;
           color: floralwhite;
           font-size: 20px;
           text-align: center;
           background-image: url(../img/mecato.jpg);
           background-repeat: no-repeat;
           background-size: cover;
           background-position: center;
       }
       
       @media screen and (max-width:505px){
           .contenedor {
               flex-wrap: wrap;
           }
       
           .caja {
               width: 100%;
               margin: 10px 5px;
       
           }
       }
 
       .pie-pagina{
        width: 100%;
        background-color: #1f4f73;
        margin-top: -3vh;
        
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1850px;
        height: 155px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:250px;
        padding: 15px 0 0 0;
    }
    .pie-pagina .grupo-1 .box figure{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        z-index: -20;
        
        
    }
    .pie-pagina .grupo-1 .box figure:hover{
        transform: scale(1.2);
    }
    
    
    .pie-pagina .grupo-1 .box figure img{
        width: 130px;
        filter: drop-shadow(5px 6px 5px rgba(0,0,0,0.7));
    }
    .pie-pagina .grupo-1 .box2 h2{
        color: #fff;
        margin-bottom: 18px;
        font-size: 25px;
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .pie-pagina .grupo-1 .box3 h2{
        color: #fff;
        margin-bottom: 18px;
        font-size: 25px;
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .pie-pagina2{
        color: white;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.452);
        
    }
    
     .parrafo a{
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: grid;
        padding-bottom: 15px;
        text-align: left;
    
    }
    
    .pie-pagina .grupo-1 .box2 p{
        color: #efefef;
        margin-bottom: 10px;
    }
    .pie-pagina .grupo-1 .red-social{
        text-align: left;
        
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 55px;
        height: 55px;
        line-height: 55px;
        color: rgb(0, 0, 0);
        margin-right: 10px;
        background-color: #ffffff;
        text-align: center;
        transition: all 300ms ease;
        border-radius: 40px;
    }
    .pie-pagina .grupo-1 .red-social .fa-facebook:hover{
        color: rgb(66, 103, 178);
        transform: scale(1.2);
    }
    .pie-pagina .grupo-1 .red-social .fa-instagram:hover{
        color: rgb(188, 42, 141);
        transform: scale(1.2);
    }
    .pie-pagina .grupo-1 .red-social .fa-whatsapp:hover{
        color: rgb(37, 211, 102);
        transform: scale(1.2);
    }
    .pie-pagina2 b{
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .pie-pagina2 p{
        font-size: 18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
      
    /*RESPONSIVE FOOTER*/
    
    @media screen and (max-width:380px){
        .pie-pagina .grupo-1{
            width: 50%;
            max-width: 100px;
            height: 100px;
            margin: auto;
            display:inline;
            grid-template-columns: repeat(3, 1fr);
            grid-gap:100px;
            padding: 30px 0 30px 0;
        }
       
        .pie-pagina .grupo-1 .box2 h2{
            color: #fff;
            margin-bottom: 18px;
            font-size: 22px;
            text-align: center;
        }
        .pie-pagina .grupo-1 .box3 h2{
            color: #fff;
            margin-bottom: 18px;
            font-size: 22px;
            text-align: center;
        }
        .parrafo a{
            text-align: center;
            font-size: 17px;
        }
        .pie-pagina .grupo-1 .box figure img{
            width: 120px;
            filter: drop-shadow(5px 6px 5px rgba(0,0,0,0.7));
            margin: 30px 0 0 0;
    } 
        .pie-pagina .grupo-1 .red-social{
            margin: 0 0 10px 0;
            text-align: center;
    }
        .pie-pagina iframe{
            width: 380px;
            height: 150px;
            align-items: center;
        }
        .pie-pagina .grupo-1 .box h2{
            text-align: center;
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box a{
            text-align: center;
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box figure{
            margin: 0 0 35px 0;
        }
        .pie-pagina .grupo-1 .red-social a{
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        .pie-pagina2 b{
            font-size: 20px;
        }
        .pie-pagina2 p{
            font-size: 17px;
        }
    }
    @media screen and (max-width:415px){
        .pie-pagina .grupo-1{
            width: 50%;
            max-width: 100px;
            height: 100px;
            margin: auto;
            display:inline;
            grid-template-columns: repeat(3, 1fr);
            grid-gap:100px;
            padding: 30px 0 30px 0;
        }
       
        .pie-pagina .grupo-1 .box2 h2{
            margin-bottom: 18px;
            font-size: 22px;
            text-align: center;
        }
        .pie-pagina .grupo-1 .box3 h2{
            margin-bottom: 18px;
            font-size: 22px;
            text-align: center;
        }
        .parrafo a{
            text-align: center;
            font-size: 17px;
        }
        .pie-pagina .grupo-1 .box figure img{
            width: 120px;
            filter: drop-shadow(5px 6px 5px rgba(0,0,0,0.7));
            margin: 30px 0 0 0;
    } 
        .pie-pagina .grupo-1 .red-social{
            margin: 0 0 10px 0;
            text-align: center;
    }
        .pie-pagina iframe{
            width: 380px;
            height: 150px;
            align-items: center;
        }
        .pie-pagina .grupo-1 .box h2{
            text-align: center;
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box a{
            text-align: center;
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box figure{
            margin: 0 0 35px 0;
        }
        .pie-pagina .grupo-1 .red-social a{
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
        .pie-pagina2 b{
            font-size: 20px;
        }
        .pie-pagina2 p{
            font-size: 17px;
        }
        .pie-pagina .grupo-1 .box figure img{
            margin: 0 0 20px 0;
        }
    }
    
    @media screen and (max-width:1026px){
        .pie-pagina .grupo-1{
            grid-gap: 50px;
        }
       
        .pie-pagina .grupo-1 .box2 h2{
            font-size: 25px;
        }
        .pie-pagina .grupo-1 .box3 h2{
            font-size: 25px;
    
        }
        .parrafo a{
            font-size: 19px;
        }
    }
    @media screen and (max-width:900px){
        .pie-pagina .grupo-1{
            grid-gap: 80px;
        }
       
        .pie-pagina .grupo-1 .box2 h2{
            font-size: 20px;
        }
        .pie-pagina .grupo-1 .box3 h2{
            font-size: 20px;
    
        }
        .parrafo a{
            font-size: 17px;
        }
        .pie-pagina .grupo-1 .red-social a{
            width: 50px;
            height: 50px;
            line-height: 50px;
        }
    }
    @media screen and (max-width:1300px){
        .pie-pagina .grupo-1{
            grid-gap: 100px;
        }
       
    }
    @media screen and (max-width:790px){
        .pie-pagina .grupo-1{
            grid-gap: 10px;
        }
        .pie-pagina .grupo-1 .red-social a{
            width: 40px;
            height: 40px;
            line-height: 40px;
        }
    }
    @media screen and (max-width:505px){
        .pie-pagina .grupo-1{
            grid-gap: 5px;
        }
        .pie-pagina .grupo-1 .box2 h2{
            font-size: 18px;
        }
        .pie-pagina .grupo-1 .box3 h2{
            font-size: 18px;
    
        }
        .pie-pagina .grupo-1 .box figure img{
            width: 120px;
        }
        .parrafo a{
            font-size: 16px;
        }
        .pie-pagina .grupo-1 .red-social a{
            width: 35px;
            height: 35px;
            line-height: 35px;
            margin: 5px;
        }
    }