@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* MAPA */
.titulo{
   margin-left: 19%;
   display: flex;
   flex-wrap: wrap;
}
.h1{
    font-family: 'Bangers', cursive;
    font-size: 65px;
    color: #1f4f73;
}
iframe{
    display: flex;
    width: 50%;
    height: 400px;
    padding: 30px;
    
}
.mapa{
    display: flex;
    justify-content: space-evenly;
}
.adicional{
    text-align: center;
}
hr{
    width: 100%;
}

.img-icon{
    margin: 0 10px 0 0;
    
}

.centro{
    display: flex;
}


/*RESPONSIVE CONTENIDO*/
@media (max-width: 940px){
    .titulo{
      height: 80px;
    }
    
}
@media (min-width: 350px) and (max-width: 824px){
  .titulo{
    height: 80px;
    margin-top: 15px;
  }

iframe{
 width: 89%;
 margin-left: -21px;
}

.mapa{
    display: grid;
    margin-left: 5%;
}

  .contacto{
      margin: 0;
      text-align: center;
  }
  
}

.pqrs{
    box-shadow: 3px 4px 8px 0 rgba(0, 37, 250, 0.575);
    width: 34%;
    height: 330px;
    margin-left: -39px;
    margin-top: 48px;
    padding: 1%;
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;    
}

.pqrs h6{
    box-shadow: 0px 4px 3px 0 rgba(7, 7, 7, 0.397);
    border-radius: 5px;
}

.pqrs1 input{
    text-align: center;
    border-radius: 4px;
    margin-bottom: 14px;
    width: 70%;
    height: 26px;
    border: solid 1px #1f4f73;
    box-shadow: 3px 4px 3px 0 rgba(7, 7, 7, 0.397);
}

textarea{
box-shadow: 3px 4px 3px 0 rgba(7, 7, 7, 0.397);
height: 120px;
border-radius: 6px;
width: 64%;
padding: 2px;
border: solid 1px #1f4f73;
text-align: center;
}

.btn button{
color: white;
margin-top: 15px;
cursor: pointer;
border-style: none;
width: 30%;
height: 35px;
border-radius: 5px;
background-color: #1f4f73;
box-shadow: 3px 4px 3px 0 rgba(7, 7, 7, 0.397);

}



/* responsive pqrs */
@media (min-width: 350px) and (max-width:768px){
.pqrs{
    width: 94%;
    margin-left: -1%;
    height: 331px;
    }
}

/* textarea{
   
} */

/* responsive pqrs */
/* @media (max-width: 414px){
    .pqrs{
        width: 90%;
        margin-bottom: -13px;
    }
} */